---
// import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
const pageTitle = "Astro";

---
<Layout>
	<a href="/">ホーム</a>
	<a href="/about/">概要</a>
	<a href="/blog/">ブログ</a>

 <h1>Astro</h1>

	<!-- <Welcome /> -->
</Layout>
